h1 {
    color: rgba(143, 68, 41, 0.972);
    font-family:'Times New Roman', Times, serif
}

p {
    width: 60%;
}

body{
    background-color: rgba(210, 158, 122, 0.971);
}

.nav2{
    width: 500px;
    border: 15px solid rgba(176, 97, 65, 0.603);
    padding: 10px;
    margin: 20px; 
}
#h1{
    text-align: center;
}
#h1{
    font-size: 50px;
}